@model CartVM

@if (Model != null && Model.Items.Count() > 0)
{
    <section class="h-100 h-custom">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="h5">Назва</th>
                                    <th scope="col">На складі</th>
                                    <th scope="col">К-сть</th>
                                    <th scope="col">Ціна</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center">
                                                <img src="~/images/products/@(item.Product.Image ?? "productDefault.png")" class="img-fluid rounded-3"
                                                     style="width: 120px;" alt="@item.Product.Name">
                                                <div class="flex-column ms-4">
                                                    <p class="mb-2">@item.Product.Name</p>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="align-middle">
                                            <p class="mb-0" style="font-weight: 500;">@item.Product.Amount</p>
                                        </td>
                                        <td class="align-middle">
                                            <div class="d-flex flex-row">
                                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link"
                                                        onclick="decreaseQuantity('@item.Product.Id', @item.Quantity)">
                                                    <i class="bi bi-dash-circle-fill"></i>
                                                </button>

                                                <input id="form1" max="@item.Product.Amount" min="1" name="quantity" value="@item.Quantity" type="number"
                                                       class="form-control form-control-sm" style="width: 50px;" />

                                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link"
                                                        onclick="increaseQuantity('@item.Product.Id', @item.Quantity)">
                                                    <i class="bi bi-plus-circle-fill"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <p class="mb-0" style="font-weight: 500;">@item.Product.Price₴</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                        <div class="card-body p-4">

                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                                    <form>
                                        <div class="d-flex flex-row pb-3">
                                            <div class="d-flex align-items-center pe-2">
                                                <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                                                       value="" aria-label="..." checked />
                                            </div>
                                            <div class="rounded border w-100 p-3">
                                                <p class="d-flex align-items-center mb-0">
                                                    <i class="fab fa-cc-mastercard fa-2x text-body pe-2"></i>Credit
                                                    Card
                                                </p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row pb-3">
                                            <div class="d-flex align-items-center pe-2">
                                                <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                                                       value="" aria-label="..." />
                                            </div>
                                            <div class="rounded border w-100 p-3">
                                                <p class="d-flex align-items-center mb-0">
                                                    <i class="fab fa-cc-visa fa-2x fa-lg text-body pe-2"></i>Debit Card
                                                </p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <div class="d-flex align-items-center pe-2">
                                                <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                                                       value="" aria-label="..." />
                                            </div>
                                            <div class="rounded border w-100 p-3">
                                                <p class="d-flex align-items-center mb-0">
                                                    <i class="fab fa-cc-paypal fa-2x fa-lg text-body pe-2"></i>PayPal
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-6">
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                                                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                                       placeholder="John Smith" />
                                                <label class="form-label" for="typeName">Name on card</label>
                                            </div>

                                            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                                                <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YY"
                                                       size="7" id="exp" minlength="7" maxlength="7" />
                                                <label class="form-label" for="typeExp">Expiration</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                                                <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                                       placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
                                                <label class="form-label" for="typeText">Card Number</label>
                                            </div>

                                            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                                                <input type="password" id="typeText" class="form-control form-control-lg"
                                                       placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                                <label class="form-label" for="typeText">Cvv</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-3">
                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-2">Вартісь товарів</p>
                                        <p class="mb-2">@Model.TotalPrice₴</p>
                                    </div>

                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-0">Знижка</p>
                                        <p class="mb-0">@Model.Discount%</p>
                                    </div>

                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-0">Із знижкою</p>
                                        <p class="mb-0">@(Model.TotalPriceWithDicount.ToString("F2"))₴</p>
                                    </div>

                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-0">Вартість доставки</p>
                                        <p class="mb-0">@Model.Shipping₴</p>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                        <p class="mb-2">Вартість замовлення</p>
                                        <p class="mb-2">@((Model.TotalPriceWithDicount + Model.Shipping).ToString("F2"))₴</p>
                                    </div>

                                    <div class="mb-2 d-flex p-2" style="flex-direction: column;">
                                        <label class="m-1">Промокод</label>
                                        <input id="promoCode" class="m-1" />
                                        <button onclick="activatePromoCode(document.getElementById('promoCode').value)" class="btn btn-success m-1">Активувати</button>
                                    </div>

                                    <form asp-action="Checkout" method="post">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block btn-lg">
                                            <div class="d-flex justify-content-between">
                                                <span>Оформити</span>
                                            </div>
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}
else
{
    <h1 class="text-center">Кошик порожній</h1>
}